Repository LiubovPlugar/courses-web-app, pull requests merged in 2021-03, with the labels that each got.

#4 added courses.json and courses-schema.json
  data/courses-schema.json
  data/courses.json
Labels: DATA

#7 added controllers.js and routes.js
  api/controllers.js
  api/routes.js
Labels: Controllers

#12 Client
  client/assets.css
  client/assets/bg-bibleStudyTable.png
  client/assets/github.png
  client/assets/graduation.png
  client/assets/hyf.svg
  client/index.html
  client/style.css
Labels: Front-end, HTML

#13 Css refactor
  api/controllers.js
  client/app/init.js
  client/assets.css
  client/assets/fonts/signika-medium-webfont.woff
  client/assets/fonts/signika-medium-webfont.woff2
  client/assets/fonts/signika-medium.ttf
  client/index.html
  data/courses-schema.js
  data/courses.json
Labels: HTML

#15 card and CSS refactoring
  client/assets.css
  client/card.html
  client/index.html
Labels: Front-end
